.logo 
{
    margin-left: 3.5vmin;  
    text-decoration: none;
}
.nav-link 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 3vmin; 
    font-weight: 500;   
    color: black;
}
.nav-link:hover 
{
    color: #212529; 
}
.title 
{
    font-size: 5vmin; 
    margin-bottom: 3.5vmin; 
    font-weight: 600;
}
.wd 
{
    width: 65vmin;  
}
.button  
{ 
    border: none; 
    font-size: 2.5vmin; 
    background-color: #318CE7;   
}
.button:disabled 
{
    background-color: #ccc;
}
.button:hover
{
    opacity: 0.97; 
}
.div-lg 
{
    height: 66vh; 
}
input 
{
    height: 6.5vmin;   
    padding-bottom: 8px; 
    font-size: 3vmin;   
}
.mg 
{
    margin-bottom: 3.5vmin;
}
.msg-hd 
{
    top: -100vmin;
}
.msg-sh 
{
    top: -10vmin; 
}
::placeholder 
{ 
    letter-spacing: 1px; 
    font-size: 3.4vmin;
}
.msg 
{
    font-size: 1.7vmin;
}
.msgBg 
{
    font-size: 3vmin;
}
.ic 
{
    width: 1.7vmin; 
    height: 1.7vmin;
}
.icBg 
{
    width: 2.4vmin; 
    height: 2.4vmin;
}
@media screen and (max-width : 500px){
    .msg 
    {
        font-size: 3.5vmin;
    }
    .msgBg 
    {
        font-size: 3.5vmin;
    }
    .ic 
    {
        width: 3.5vmin;
        height: 3.5vmin;
    }
    .icBg 
    {
        width: 3.5vmin; 
        height: 3.5vmin;
    }
}



