<nav class="navbar">

    <a class="logo" style="display: flex; align-items: center; position: relative;">
      <img src="../assets/images/Wassali_Logo.png" style="width: 9vmin; height: 9vmin; cursor: pointer;" alt="Logo" onclick="navigateToLogin()">
      <span style="left: 10vmin; font-weight: 600; color: var(--bc); font-size: 6.2vmin; letter-spacing: 3px; padding-bottom: 1.7vmin; position: absolute;"><span onclick="navigateToLogin()" style="cursor: pointer;">WASSA<span style="color: var(--lc);">LI</span></span></span> 
    </a>


    

    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
          <a class="nav-link"  style="margin-right: 5vmin; border-radius: 2px; border: solid #00FF00 0.4vmin; padding: 0.6vmin; border-radius: 3px;" href="/connexion">Se Connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="border-bottom: solid #00FF00 0.4vmin; margin-right: 10vmin; padding-bottom: 0.6vmin; padding-top: 0.6vmin;" href="/inscription">S'Inscrire</a>
      </li>
    </ul>
    
</nav>

<div class="div-lg" style="display: flex; justify-content: center; align-items: center; margin-top: 7vmin; position: relative;">
    <span [class.msg-sh] = "msgF_em" class="msg-hd msgBg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/cross.png" class="icBg" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Compte non trouvé!</span>
    <span [class.msg-sh] = "msgF_lm" class="msg-hd msgBg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/cross.png" class="icBg" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Limite des demandes atteinte!</span>   
    <span [class.msg-sh] = "msgS" class="msg-hd msg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/checked.png" class="ic" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Email de réinitialisation de mot de passe a été envoyé. Veuillez vérifier votre boite email.</span>
    <span [class.msg-sh] = "msgF_t" class="msg-hd msg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/cross.png" class="ic" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Nous rencontrons actuellement un problème de transmission de mail. Veuillez réessayer plus tard.</span>
    <span [class.msg-sh] = "msgF_e" class="msg-hd msg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/cross.png" class="ic" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Notre serveur rencontre actuellement un problème de traitement des requêtes mais nous nous sommes engagés pour le résoudre. Veuillez réessayer plus tard.</span>
    <form class="wd" #fm="ngForm" (ngSubmit) = "onSubmit()" style="border: solid 2px #318CE7; border-radius: 2px; padding: 3.5vmin;" novalidate>
        <h3 class="text-center title" style="color: var(--bc)">Mot de passe oublié</h3>
        <div class="text-center" style="font-size: 2.9vmin; margin-bottom: 2.5vmin; letter-spacing: 1px;">Retourner à la page de <a style="font-weight: 600; color: black; text-decoration: none;" href="/connexion">connexion</a></div>

        <div class="mg">
            <input type="text" class="form-control" pattern="(?=.{1,256}$)[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Email" [(ngModel)] = "user.email" name="email" #email = "ngModel" [class.is-invalid] = "email.invalid && (email.dirty || email.touched || fm.submitted)" autocomplete="on" spellcheck="false" required> 
            <div *ngIf="email.errors && (email.dirty || email.touched || fm.submitted)"> 
                <small style="font-size: 2.8vmin;" class="text-danger" *ngIf = "email.errors?.['required']">Veuillez saisir votre email!</small> 
                <small style="font-size: 2.8vmin;" class="text-danger" *ngIf = "email.errors?.['pattern']">Email invalide!</small>
            </div>
        </div>
        
        <div style="text-align: center;">
        <button [disabled] = "processing" class="button" type="submit" style="color: black; font-weight: 600; border-radius: 3px; letter-spacing: 1px; padding: 1.4vmin; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">{{ processing ? "Attendez..." : "Demander Réinitialisation"}}</button>
        </div>
    </form>
    
</div>




