.wrapper 
{
    width: 100%; 
}
tr:nth-of-type(odd)
{
    background-color: #edf3fa; 
}
tr:nth-of-type(even) 
{
    background-color: white;
}
.th 
{
    text-align: center;
    font-size: 2.8vmin; 
    padding: 0.7vmin; 
}