<nav class="navbar">

    <a class="logo" style="display: flex; align-items: center; position: relative;">
      <img src="../assets/images/Wassali_Logo.png" style="width: 9vmin; height: 9vmin; cursor: pointer;" alt="Logo" onclick="navigateToLogin()">
      <span style="left: 10vmin; font-weight: 600; color: var(--bc); font-size: 6.2vmin; letter-spacing: 3px; padding-bottom: 1.7vmin; position: absolute;"><span style="cursor: pointer;" onclick="navigateToLogin()">WASSA<span style="color: var(--lc);">LI</span></span></span> 
    </a>

    
</nav> 
<div class="tx">
   
  <div style="width: 75%; line-height: 4.5vmin;">
  <div style="margin-bottom: 2vmin; font-size: 3.7vmin;"><div style="font-weight: 500; width: 100%; text-align: center;">Salut {{ prenom }}!</div></div><div style="font-size: 3.5vmin; text-align: center;">Merci pour votre inscription sur la plateforme WASSALI.<br>Votre demande d'inscription est en attente de validation par l'administrateur.<br>Une fois qu'elle a été approuvée, vous recevrez un email de confirmation afin de commençer l'aventure.<div style="text-align: center;"><button class="button" style="color: black; font-weight: 600; border-radius: 3px; letter-spacing: 1px; margin-top: 3vmin; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;" (click)="navigateToConnexion()">Connexion</button></div></div>
  </div>
   
</div>

