.wrapper 
{
    width: 85vw; 
}
.dv 
{
    font-size: 2.8vmin;
}
.el 
{
    width: 20vw;
}
@media screen and (max-width : 1000px) {
    .wrapper 
    {
        width: 94vw;
    }
    .el 
    {
        width: 22vw;
    }
}
@media screen and (max-width : 310px){
    .dv 
    {
        font-size: 3.5vmin;
    }
}
.msg 
{
    font-size: 1.7vmin;
}
.ic 
{
    width: 1.7vmin;
    height: 1.7vmin;
}
@media screen and (max-width : 500px){
    .msg 
    {
        font-size: 3.5vmin;
    }
    .ic 
    {
        width: 3.5vmin;
        height: 3.5vmin;
    }
}
.msg-hdd 
{
    top : -180vmin; 
    left: -0.3vmin;
}
.msg-shh 
{
    top: -5vmin; 
}