<nav class="navbar" style="position: relative;">

    <a class="logo" style="display: flex; align-items: center; position: relative;">
      <img src="../assets/images/Wassali_Logo.png" style="width: 9vmin; height: 9vmin; cursor : pointer;" alt="Logo" onclick="navigateToLogin()">
      <span style="left: 10vmin; font-weight: 600; color: var(--bc); font-size: 6.2vmin; letter-spacing: 3px; padding-bottom: 1.7vmin; position: absolute;"><span style="cursor: pointer;" onclick="navigateToLogin()">WASSA<span style="color: var(--lc);">LI</span></span></span> 
    </a>


    

    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
          <a class="nav-link" style="margin-right: 5vmin; border-radius: 3px; border: solid #00FF00 0.4vmin; padding: 0.6vmin;" href="/connexion">Se Connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="border-bottom: solid #00FF00 0.4vmin; margin-right: 10vmin; padding-bottom: 0.6vmin; padding-top: 0.6vmin;" href="/inscription">S'Inscrire</a>
      </li>
    </ul>
    
</nav>

<div class="div-lg" style="display: flex; justify-content: center; align-items: center; margin-top: 7vmin; position: relative;">
    <span [class.msg-sh] = "msgF" class="msg-hd msgBg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/cross.png" class="icBg" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Mots de passe différents!</span>
    <span [class.msg-sh] = "msgS" class="msg-hd msgBg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/checked.png" class="icBg" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Mot de passe modifié avec succès!</span>
    <span [class.msg-sh] = "msgF_e" class="msg-hd msg" style="position: absolute; border-radius: 5px; background-color: white; display: flex; align-items: center; justify-content: center; padding: 5px; box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05); transition: 2s;"><img src="assets/images/cross.png" class="ic" style="margin-right: 0.5vmin; margin-top: 0.2vmin;">Notre serveur rencontre actuellement un problème de traitement des requêtes mais nous nous sommes engagés pour le résoudre. Veuillez réessayer plus tard.</span>
    <form class="wd" #fm="ngForm" (ngSubmit) = "onSubmit()" style="border: solid 2px #318CE7; border-radius: 2px; padding: 3.5vmin;" novalidate>
        <h3 class="text-center title" style="color: var(--bc)">Réinitialiser <br>mot de passe</h3>

        
        <div class="mg">
            <div style="display: flex; align-items: center;">
                <input id="password" type="password" class="form-control" pattern=".{8,40}" style="width: 92%; border-top-right-radius: 0; border-bottom-right-radius: 0;" [(ngModel)] = "pass" name="password" #password = "ngModel" [class.is-invalid] = "password.invalid && (password.dirty || password.touched || fm.submitted)" placeholder="Saisir votre mot de passe*" spellcheck="false" required>
                <span  style="border: solid 1px #dee2e6; height: 6.5vmin; width: 8.5%; border-top-right-radius: 5px; border-bottom-right-radius: 5px; display: flex; align-items: center; justify-content: center;" ><img id="sh-fr" class="sh" onclick="showPasswordFr()" src="assets/icons/visibility_on.png"></span>
            </div>            
            <div *ngIf="password.errors && (password.dirty || password.touched || fm.submitted)">
                <small style="font-size: 2.8vmin;" class="text-danger" *ngIf = "password.errors?.['required']">Champ requis!</small> 
                <small style="font-size: 2.8vmin;" class="text-danger" *ngIf = "password.errors?.['pattern']">Longueur entre 8 et 40 chractères!</small>
            </div>
        </div> 
        <div class="mg">
            <div style="display: flex; align-items: center;">
                <input type="password" id="password-sc" class="form-control" style="width: 92%; border-top-right-radius: 0; border-bottom-right-radius: 0;" [(ngModel)] = "passt" name="passwordt" #passwordt = "ngModel" [class.is-invalid] = "passwordt.invalid && (passwordt.dirty || passwordt.touched || fm.submitted)" placeholder="Resaisir votre mot de passe*" spellcheck="false" required>
                <span  style="border: solid 1px #dee2e6; height: 6.5vmin; width: 8.5%; border-top-right-radius: 5px; border-bottom-right-radius: 5px; display: flex; align-items: center; justify-content: center;" ><img id="sh-sc" class="sh" onclick="showPasswordSc()" src="assets/icons/visibility_on.png"></span>
            </div>            
            <div *ngIf="passwordt.errors && (passwordt.dirty || passwordt.touched || fm.submitted)">
                <small style="font-size: 2.8vmin;" class="text-danger" *ngIf = "passwordt.errors?.['required']">Champ requis!</small> 
            </div>
        </div> 
        
        <div style="text-align: center;">
        <button class="button" [disabled] = "processing" type="submit" style="color: black; font-weight: 600; border-radius: 3px; letter-spacing: 1px; padding: 1vmin; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">{{ processing ? "Attendez..." : "Réinitialiser"}}</button>
        </div>
    </form>
    
</div>




